<h1>Editing Quote</h1>

= render 'form', quote: @quote

= link_to 'Cancel Edit', @quote, class: 'basic-link'
= link_to 'Delete Quote', @quote, method: :delete, class: 'basic-link'
= link_to 'Quotes list', quotes_path, class: 'basic-link'
