h1 Hennepin County Jail Data

h3.text-center #{@in_custody_now} in jail today

h3.text-center #{@jail_bookings_count} total jail records
p.text-center Next Page: #{@last_scraped_page_hennepin}

h4 Arrested by
- @arrested_by_rankings.each do |arrest_stat_pairing|
  div #{arrest_stat_pairing[0]} - #{arrest_stat_pairing[1]}

= column_chart @arrested_by_rankings