div.d-flex.justify-content-center
  = link_to 'Hennepin Home', carceral_data_hennepin_path, class: 'button btn btn-primary btn-sm mx-1'
  = link_to 'Hennepin Bail Amounts', carceral_data_hennepin_bail_amounts_path, class: 'button btn btn-primary btn-sm mx-1'
