.quote-text {
  color: rgb(105,105,105);
  font-size: 1.1em;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.topic-index {
  color: 'black'
}

.topic-quote-show {
  padding: 4px;
}

.form-field-topic-quote-show {
  padding: 10px;
}

.basic-link {
  margin: 10px;
}

.check-box {
  margin: 20px;
  .actual-check-box {
    margin: 5px;
  }
}

.about-page-quote {
  margin-top: 10px;
  font-style: italic;
}

.topics-header {
  text-decoration: underline;
  margin: 30px;
}

.admin-navbar {
  @media only screen and (min-width: 600px) {
    max-height: 20px;
  }
}

.admin-panel {
  margin: 30px;
}

.data-transfer-btn {
  margin: 5px;
}

.front-page-header {
  margin-top: 35px;
}

.home-header {
  margin: 30px;
}

.main-search-form {
  margin: 20px;
}

.search-div {
  margin: 0 auto;
  width: 70% !important;
}

.main-search-bar {
  width: 60% !important;
}

@media only screen and (max-width: 600px) {
  .search-div {
    margin: 0 auto;
    width: 100% !important;
  }
}
