.quote-text {
  color: rgb(105,105,105);
  font-size: 1.1em;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.theme-index {
  color: 'black'
}

.theme-quote-show {
  padding: 4px;
}

.form-field-theme-quote-show {
  padding: 10px;
}

.basic-link {
  margin: 10px;
}

.check-box {
  margin: 20px;
  .actual-check-box {
    margin: 5px;
  }
}
