.quote-text {
  color: rgb(105,105,105);
  font-size: 1.1em;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.topic-index {
  color: 'black'
}

.topic-quote-show {
  padding: 4px;
}

.form-field-topic-quote-show {
  padding: 10px;
}

.basic-link {
  margin: 10px;
}

.check-box {
  margin: 20px;
  .actual-check-box {
    margin: 5px;
  }
}

.home-page-quote {
  margin-top: 50px;
}

.topics-header {
  text-decoration: underline;
  margin: 30px;
}

.admin-navbar {
  @media only screen and (min-width: 600px) {
    max-height: 20px;
  }
}

.admin-panel {
  margin: 30px;
}

.data-transfer-btn {
  margin: 5px;
}
